body
{
    background-color:#323232;
}

button
{
    background-color: grey;
    color: black;
}

#listOPs
{
    background-color: lightgrey;
    color: blue;
    border-color: blue;
    height: 20px;
}   

#result
{
    background-color: lightgrey;
    color: blue;
    border-color: blue;
    height: 20px;
}

button.operations
{
    background-color: rgb(115, 17, 17);
    font-style: italic;
    font-style: bold;
    color: white;
}

#compute
{
    background-color: darkgreen;
    box-shadow: violet;
}

#clear
{
    background-color: rgb(8, 8, 98);
}